/**************
MOBILE
**************/
html {
	background: #EEE;
}

body {
	margin: 0 auto;
	width: 100%;
	background: white;
}

img {
	width: 100%;
	display: block;
}

p {
	color: #4a525f;
	margin: 0;
}

#logo p {
	display: block;
	position: absolute;
	top: 1%;
	color: white;
	font-size: 2.2em;
	font-style: italic;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

/*** TOP MENU ***/

ul {
	width: 100%;
	padding: 0;
	list-style: none!important;
}

li {
	text-align: center;
	padding: 5px;
	background: #4a525f;
	font-style: italic;
	border-bottom: 2px solid white;
}

li, li a {
	text-decoration: none;
	color: white;
}
